@charset "UTF-8";
#mainwrapper header {
	/*Header */
	background-color: rgba(208,207,207,1.00);
	overflow: auto;
	font-family: Display fonts;
	font-style: normal;
	font-weight: 400;
}
body::-webkit-scrollbar{
	display: none;
	
}
body{
	cursor: none;
}


nav{
displaY: flex;
width: 100%;
align-items: center;
flex-wrap: wrap;
padding: 5px 0;
}

nav ul{
flex: 1;
text-align: right;
padding-right: 30px;
}

nav ul li{
display: inline-block;
list-style:none;
margin: 10px 30px;
}

nav ul li a{
color: #989696;
text-decoration: none;
	position: relative;
}

nav ul li a::after{
	
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background: #1966D5;
	transition: width 0.3s;
}
nav ul li a:hover::after{
	width: 60%;
}


.cursor{
z-index: 999;
position: fixed;
background: #2696E8;
width: 10px;
height: 10px;
border-radius: 50%;
pointer-events: none;
box-shadow: 0 0 20px #2696E8, O
e e 10px #2696E8,
0 0 100px #2696E8;
	animation: colors 3s infinite;
	transform: translate(-50%, -50%);
	display: none;
}
@keyframes colors{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(360deg);
		
	}
}

.cursor:before{
content: '';
position: absolute;
background: #2696E8; width: 20px;
height: 20px; opacity: 0.2;
	transform:  translate(-30%, -30);
	border-radius: 50%;
 }

#mainwrapper header #logo {
	/* Company Logo text */
	width: 28%;
	float: left;
	padding-left: 2%;
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgba(146,146,146,1.00);
}
#mainwrapper header nav {
	/*Nav bar containing links in header */
	text-align: right;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 2%;
	width: 68%;
	float: left;
	color: rgba(146,146,146,1.00);
}
header nav a {
	/* Links in header */
	padding-right: 2%;
}
#content #mainContent h1, #content #mainContent h2 {
	/* Styling for main headings */
	color: rgba(146,146,146,1.00);
}
#content #mainContent h3 {
	/*Captions ot Taglines */
	font-family: Display fonts;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
}
#content #mainContent #bannerImage {
	/*Container for main banner image */
	width: 100%;
	background-color: transparent;
}
#content #mainContent p {
	/* All paragraphs under maincontent */
	color: rgba(146,146,146,1.00);
	font-family: Display fonts;
	font-style: normal;
	font-weight: 200;
	text-align: justify;
}
#content #mainContent #authorInfo {
	/* Author info section */
	background-color: rgba(208,207,207,1.00);
}

#content #mainContent #authorInfo h2, #content #mainContent #authorInfo p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 11px;
}
#content #mainContent #authorInfo p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
}
footer article {
	/* Footer articles */
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: Display fonts;
	font-style: normal;
	font-weight: 200;
	color: transparent;
}
footer article h3 {
	/* Footer article titles */
	text-align: center;
	font-family: Display fonts;
	font-style: normal;
	font-weight: 400;
}
#mainContent {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}
#mainwrapper #content #sidebar {
	/* Sidebar*/
	width: 19%;
	
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	background-color: transparent;
	margin-top: 150px;
	padding-top: 32px;
}
#mainwrapper {
	/* Container of all content */
	width: 80%;
	overflow: auto;
	margin-left: 10%;
}
#content #sidebar input {
	/* Search box in sidebar */
	width: 98%;
	height: 32px;
}
#content #sidebar #adimage {
	/* Container for Image in sidebar */
	width: 100%;
	background-color: rgba(208,207,207,1.00);
	margin-top: 46px;
	float: none;
	overflow: auto;
}
nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
#footerbar {
	/* Footer bar at the bottom of the page */
	height: 18px;
	clear: both;
	background-color: rgba(208,207,207,1.00);
	width: 100%;
}
footer {
	/* Container for footer artices */
	width: 71%;
	padding-left: 2%;
	padding-right: 2%;
}
.notOnDesktop {
	/*element to be displayed only in mobile view and tabet view */
	display: none;
}
#mainContent #bannerImage img {
	/* Actual banner image */
	width: 100%;
}
#sidebar #adimage img {
	/* Image in sidebar */
	width: 100%;
	float: left;
}
#mainwrapper header nav a {
	/* Links in header */
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}
#mainContent #bannerImage img {
}
body {
    background-image: url(../../images/BackgroundPage.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#content #sidebar nav {
    text-decoration: none;
    text-shadow: 0px 0;
    letter-spacing: -1px;
    color: #989696;

}
#mainwrapper #content #sidebar {
    -webkit-box-shadow: 0px 0px 38px;
    box-shadow: 0px 0px 38px;
    margin-top: 29px;
    width: 187px;

}
#content #sidebar ul {
    margin-left: -39px;
    color: #989898;
}

#content #mainContent h3 {
    padding-top: 0px;
}
#content #mainContent p {
    text-align: left;
}
#mainwrapper #content footer {
    color: #928F8F;
    letter-spacing: 9px;
}
#content #mainContent h1 {
    letter-spacing: 12px;
    font-size: 54px;
    text-shadow: -13px 14px 5px;
    margin-top: -24px;
}

#mainContent #bannerImage img {
    margin-top: -41px;
}
#content #mainContent p {
    margin-top: -30px;
}
body nav {
    margin-top: 9px;
    margin-left: -341px;
    letter-spacing: 0px;
    text-transform: uppercase;
}
body nav {
    margin-left: -1425px;
    letter-spacing: 9px;
}

















/* Tablet view */
@media screen and (max-width:769px) {
.notOnDesktop {
	/* Search box shown only in mobile view and Tablet view */
	display: block;
	text-align: right;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 96%;
}



#content .notOnDesktop input {
	height: 28px;
}

#mainContent {
	/* Container for the blog post */
	padding-top: 0px;
	float: none;
	width: 96%;
}
#sidebar input {
	/* Search box in sidebar */
	display: none;
}


#mainwrapper #content #sidebar {
	/* Sidebar*/
	float: none;
	width: 92%;
	padding-top: 13px;
	overflow: auto;
	margin-top: 3px;
	margin-left: 2%;
	padding-bottom: 13px;
}
#content #sidebar #adimage {
	/* Image in sidebar */
	width: 60%;
	margin-top: 0px;
	float: left;
}
#content #sidebar nav {
	/* Navigation links in sidebar */
	width: 36%;
	float: left;
	padding-left: 4%;
}
#sidebar nav ul {
	margin-top: 0px;
}
footer {
    /* Footer region */
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}
#content footer article {
	/*Each footer article */
	width: 46%;
}
#mainwrapper header {
	/* Header */
	width: 100%;
}
}

/* Mobile view */
@media screen and (max-width:480px) {
#mainwrapper header #logo {
	/* Company Logo text in header */
	width: 96%;
	margin-left: 2%;
}
#mainwrapper header nav {
	/*navigation links in header */
	text-align: center;
	background-color: rgba(255,255,255,1.00);
	width: 98%;
}
#content #sidebar #adimage {
	/* Container for image in sidebar */
	width: 100%;
}
#content #sidebar nav {
	/* Navigation bar for links in sidebar */
	width: 96%;
	padding-top: 7px;
}
#sidebar nav ul li {
	display: inline-block;
	width: 32%;
	text-align: center;
}
#mainwrapper #content #sidebar {
	/* sidebar */
	padding-bottom: 0px;
}
#content .notOnDesktop {
	/* Search box shown only in mobile and tablet view */
	width: 100%;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}
#content .notOnDesktop input {
	width: 80%;
	text-align: center;
}
#content #mainContent h3 {
	/* Title under maincontent, if any */
	font-size: 14px;
}
#content footer article {
	/* Each foter article */
	width: 96%;
}
}
